html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  border: none;
  overflow: auto;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect1px, 1px, 1px, 1px;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}
.none {
  display: none;
}
